<div class="OpeningBackgrounds">
	<div class="navBackground">
		<a class="navOpt" ng-href="#/MyWashes">View My Washes</a>
		<a class="navOpt signOut" ng-click="auth.$signOut()" href="#/">Sign Out</a>

		<h1 class="pageTitle"> My Account </h1>
	</div>
</div>

<div class="WashesWindow">
	<h2>My Account</h2>

	<h4>Balance Due: {{users.balance}}</h4>

	<h5>Unpaid washes:</h5>

		<table class="washList">
		  <tr>
		    <th>Type</th>
		    <th>Date</th> 
		    <th>Cost</th>
		  </tr>
		  <tr ng-repeat="apt in userApts | orderBy:'washDate'">
		    <td>
		    	{{apt.washType}} 
	    	</td>
		    <td>
		    	{{apt.washDate}}
	    	</td> 
		    <td>
		    	{{apt.washBalance}}
	    	</td>
		  </tr>
		</table>
	<button ng-click="payBalance()">Pay my balance</button>


</div>