<a href="#/MyAccount">View My Account</a>

Washes

<div class="container">

	<button class="WashesTab" ng-click="openHistory()">My Washes</button>
	<button class="WashesTab" ng-click="openBookings()">Book Washing</button>

	<div class="WashesWindow" ng-show="WashingHistory">

		<h2>My Washes</h2>

	</div>

	<div class="WashesWindow" ng-show="Booking">

		<h2>Book Washing</h2>



	</div>

<!-- Calendar scripts -->
	<!-- <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
	jquery, moment, and angular have to get included before fullcalendar
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
	<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
	<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script> --> -->


</div>