<div class="OpeningBackgrounds"></div>
<div class="navBackground">
	<a class="navOpt" ng-href="#/MyAccount">View My Account</a>
	<a class="navOpt signOut" ng-click="auth.$signOut()" href="#/">Sign Out</a>

	<h1 class="pageTitle"> Washes </h1>
</div>

<div class="container">

	<button class="Tab" ng-click="openHistory()">My Washes</button>
	<button class="Tab BookingsTab" ng-click="openBookings()">Book Washing</button>

	<div class="WashesWindow" ng-show="WashingHistory">

		<h2>My Washes</h2>

		<h4>Upcoming Appointments</h4>
		<!-- List of all current user washes-->
		<table class="washList">
		  <tr>
		    <th>Type</th>
		    <th>Date</th> 
		    <th>Cost</th>
		  </tr>
		  <tr ng-repeat="apt in userApts | orderBy: 'washDate'">
		    <td>
		    	{{apt.washType}} 
	    	</td>
		    <td>
		    	{{apt.washDate}}
	    	</td> 
		    <td>
		    	{{apt.washBalance}}
	    	</td>
		  </tr>
		</table>

	</div>

	<div class="WashesWindow" ng-show="Booking">
		 
		 <h2> New Booking</h2>

		<form name="myForm" ng-submit="requestApt()">
			<label class="question" for="dateInput">Which date would you like to bring your car in?</label>
			<p>Date: <input type="text" id="datepicker" ng-model="date.value"></p>

			<label class="question">What type of wash would you like?</label>
			<select ng-model="aptType.value" required>
				<option value="{{wash.name}}" ng-repeat="wash in washTypes">{{wash.name}}, ${{wash.cost}}
 			</select>
 			<div role="alert">
				<span class="error" ng-show="myForm.input.$error.required"></span>
			</div>
			<button class="requestButton">Request Appointment</button>
		</form>

		<div ng-show="appointmentConfirmed">
			Your appointment for has been confirmed for {{date.value}}. Thank you!
		</div>
		<div ng-show="tryAgain">
			The bookings for that day are already full, please try again.
		</div>

	</div>


</div>