<div class="OpeningBackgrounds">

	<div class="SignInForm">
		<h1>Sign up!</h1>

		<form ng-submit="signUp()">
			<div>
				<label>Name:</label>
				<input ng-model="name">
			</div>

			<div>
				<label>E-mail:</label>
				<input ng-model="email">
			</div>

			<div>
				<label>Password:</label>
				<input type="password" ng-model="password">
			</div>

			<button class="loginButton">Sign up</button>

		</form>

		<button class="moveScreen" ng-click="goLogIn()">Back to Sign In</button>
	</div>

</div>